<mat-toolbar color="primary">
  <div class="title"><button mat-button aria-label="Toggle filters" [hidden]="!isMobile" (click)="drawer.toggle()">☰</button><h1>Astronaut Directory</h1></div>
  <button mat-button aria-label="Account menu" [matMenuTriggerFor]="menu">
    <span aria-hidden="true">●</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" role="region">
    <mat-form-field class="search">
      <input matInput placeholder="Search astronauts">
    </mat-form-field>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let filter of filters | async; last as last">
      <mat-list>
        <h3 matSubheader>{{ filter.displayName }}</h3>

        <ng-container *ngIf="filterState[filter.category] === ''; else chip">
          <mat-list-item *ngFor="let val of filter.options">
            <button mat-button class="list-button" (click)="changeFilter(filter.category, val)">
              {{ val }}
            </button>
          </mat-list-item>
        </ng-container>

        <ng-template #chip>
          <mat-chip-set>
            <ng-container *ngFor="let val of filter.options">
              <mat-chip-row *ngIf="filterState[filter.category] === val" (removed)="changeFilter(filter.category, '')">
                {{val}}
                <button matChipRemove aria-label="Clear filter">×</button>
              </mat-chip-row>
            </ng-container>
          </mat-chip-set>
        </ng-template>
      </mat-list>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content role="region">
    <mat-card *ngFor="let astronaut of astronauts | async">
      <mat-card-header><mat-card-title>{{astronaut.name}}</mat-card-title></mat-card-header>
      <img mat-card-image [src]="photoUrl(astronaut)" [alt]="astronaut.name" (error)="photoUnavailable($event)">
      <mat-card-content>
        <dl>
          <dt class="mat-small">Name</dt>
          <dd class="mat-body-2">{{ astronaut.name }}</dd>
          <dt class="mat-small">Space walks</dt>
          <dd class="mat-body-2">{{ astronaut.spaceWalks }}</dd>
          <dt class="mat-small">Undergraduate major</dt>
          <dd class="mat-body-2">{{ astronaut.undergraduateMajor }}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<button mat-fab aria-label="Add an astronaut" (click)="addAstronaut()"><span aria-hidden="true">+</span></button>
